<nav class="grey darken-4">
  <div class="nav-wrapper container">

    <a href="#!" class="brand-logo center">Deployed Projects | Dashboard</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
      <i class="fas fa-bars"></i></a>
    <ul class="sidenav blue-grey lighten-5" id="mobile-demo">
      <li><a href="/projects" style="color: #FF3D00">Public Projects/Apps</a></li>
      <li><a href="/dashboard" style="color: #039be5">Dashboard</a></li>
      <li><a href="/auth/logout" style="color:red">LogOut</a></li>
    </ul>
  </div>
</nav>