<h4><i class="fas fa-link"></i> Deployed Projects</h4>
<div class="section">
  <p class="lead">Store links of your deployed projects <i class="fas fa-hand-point-down"></i></p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn waves-effect pulse red darken-3">
    {{!-- <a href="/auth/google" class="btn waves-effect waves-light pulse red darken-3"> --}}
    <i class="fab fa-google left"></i>Log In With Google</a>
</div>