p {
  margin: 10px 0 !important;
}

.link {
  text-decoration: none;
}

.h1 {
  display: flex;
  font-size: 48px;
  text-align: center;
  flex-direction: column;
  margin-left: 50%;
  transform: translate(-50%, 0);
  /* width: 700px; */
  width: 97.5%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  padding-bottom: 10px;
  border: 1px solid #eee;
}

.dashboard {
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  transform: translate(-50%, 0);
  /* width: 700px; */
  /* width: 78%; */
  width: 96%;
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  padding-left: 20px;
  padding-bottom: 20px;
  border: 1px solid #039be5;
  /* border: 1px solid #eee; */
}

.no-projects {
  display: flex;
  margin-left: 50%;
  transform: translate(-50%, 0);
  width: 97.5%;
  background-color: black;
  border-radius: 8px;
  border: 1px solid red;
  align-items: center;
  justify-content: center;
  color: red;
  font-size: 26px;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  transform: translate(-50%, 0);
  /* width: 700px; */
  width: 96%;
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  /* padding-left: 20px; */
  padding: 20px;
  /* padding-bottom: 20px; */
  border: 1px solid #039be5;
  /* border: 1px solid #00ff00; */
}

th {
  font-size: 18px;
  color: #eee;
  text-align: center;
  background-color: #000;
  padding: 0px 10px 15px 10px;
}

td {
  /* border: 1px solid #76ff03; */
  color: #fff;
  background-color: #000;
  text-align: center;
}

.add-container {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #000;
  padding: 5px 50px 0px 50px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  border-radius: 8px;
  color: #fff;
  border: 1px solid #039be5;
  /* border: 1px solid #eee; */
}

.edit-container {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #000;
  padding: 5px 50px 0px 50px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  border-radius: 8px;
  color: #fff;
  border: 1px solid #ff3d00;
  /* border: 1px solid #eee; */
}

.error-container {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #000;
  padding: 5px 50px 0px 50px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  width: 80%;
  border-radius: 8px;
  color: #fff;
  border: 1px solid red;
  /* border: 1px solid #eee; */
}

input {
  color: #fff !important;
}

textarea {
  color: #fff;
  border-radius: 4px;
}

.login-container {
  width: 400px;
  margin-top: 100px;
  text-align: center;
  color: #fff;
}

.card {
  background-color: #333;
  border-radius: 8px;
  border: 1px solid #eee;
  color: #fff;
}

.card-text {
  text-align: center;
}

.btn {
  margin-top: 10px;
  margin-bottom: -10px;
  border-radius: 8px;
}

.fa-small {
  font-size: 20px !important;
  padding-left: 2px;
}

.fa-edit:before {
  color: #fff;
  font-size: 20px;
}

.read-more {
  margin-bottom: 10px !important;
  border-radius: 4px !important;
  color: #000;
  font-weight: bold;
  border: 1px solid #000;
}

.card .card-action:last-child {
  border-radius: 0 0 8px 8px;
}

body {
  background: #000 url(link52.jpg) repeat;
  /* -webkit-font-smoothing: antialiased; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
/* input:-webkit-autofill:active  */ {
  -webkit-text-fill-color: #fff;
  box-shadow: 0 0 0px 1000px #000 inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

.sidenav {
  width: auto;
}

.btn-edit {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.btn-delete {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.btn-error {
  margin-top: 10px !important;
  margin-bottom: 30px !important;
  background-color: red;
  font-weight: bold;
}

.btn-error:hover {
  background-color: #039be5;
}

.btn-float {
  /* float: left; */
  margin-right: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.img-small {
  width: 130px;
  border: 1px solid #f1f1f1;
}
