<div class="edit-container">
  <h4 style="color: #ff3d00">Edit Project</h4>
  <div class="row">
    <form action="/projects/{{project._id}}" method="POST" class="col s12">
      <input type="hidden" name="_method" value="PUT">
      <div class="row">
        <div class="input-field">
          <input type="text" id="name" name="name" value="{{project.name}}">
          <label for="name">Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <input type="text" id="link" name="link" value="{{project.link}}">
          <label for=" link">Link</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <select name="status" id="status">
            {{#select project.status}}
            <option value="Public" selected>Public</option>
            <option value="Private">Private</option>
            {{/select}}
          </select>
          <label for="status">Status</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <h5>Describe Your Project:</h5>
          <textarea name="body" id="body">{{project.body}}</textarea>
        </div>
      </div>

      <div class="row">
        <input type="submit" value="Save" class="btn">
        <a href="/projects" class="btn orange">Cancel</a>
      </div>
    </form>
  </div>
</div>